@using Kanban.Models
@model Kanban.Models.User

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" align="center">Kanban</h1>
    
</div>

<form asp-controller="User" asp-action="LoginUser" method="post">
    <div class="container">

        <p style="font-size:150%;position:absolute;top:25%;left:0%;right:0%;text-align:center;">Login User</p>
       
        


        <div class="form-group">
        <label asp-for="EmailAdress" class="control-label" style="font-size:90%;position:absolute;top:32%;left:0%;right:4%;text-align:center;" ><b>User E-mail:    <input asp-for="EmailAdress" class="form-control" data-val="true" data-val-email="invalid user" type="text" id="txtEmailAdress" style="display:inline-block;width:20%;height:60%;"/><br /></b></label>
        @*<input asp-for="EmailAdress" class="form-control" data-val="true" data-val-email="invalid user" type="text" id="txtEmailAdress" style="display:inline-block;width:50%"/><br />*@
        
        <div class="has-error">
            @Html.ValidationMessage("InvalidUser")
        </div>

        </div>

        <div class="form-group">
        <label asp-for="Password" class="control-label" style="font-size:90%;position:absolute;top:38.5%;left:0%;right:3%;text-align:center;"><b>Password:         <input asp-for="Password" class="form-control" type="password" id="txtPassword" style="display:inline-block;width:20%;height:60%"/></b></label>
        @*<input asp-for="Password" class="form-control" type="password" id="txtPassword" />*@
        <br />
        </div>
        <div class="has-error">
            @Html.ValidationMessage("InvalidPassword")
        </div>
    </div>

<button type="submit" style="background-color: #f0e68c;font-size:90%;position:absolute;top:45%;left:48%;right:0%;text-align:center;border-radius:50%" class="btn btn-default" >Login</button>

</form>


